
/* keyboard */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #e7e7e7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80vh;
}

.keyboard {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  background-color: #898989;
  border: 5px solid #cfcfcf;
  border-radius: 1.0em;
  padding: 20px 25px;
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

#tab_key {
  width: 70px;
}

#space_key {
  width: 450px; 
}

#caps_lock {
  width: 85px;
}

#enter_key {
  width: 85px;
}

#left_shift {
  width: 100px;
}

#right_shift {
  width: 100px;
}

#backspace {
  width: 85px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.key {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
}

button {
  width: 40px;
  height: 40px;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: center;
}

